<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Inscription</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />

</head>
<body>
    <form method="POST" action="ajoutclient.php">
<div class="col-md-6">
    <div class="panel panel-default">
    <div class="panel-heading">
       S'inscrire
    </div>
    <div class="panel-body">
         <form role="form">
                    <div class="form-group has-success">
                        <label class="control-label" for="success">Saisir votre id ( optionel )</label>
                        <input type="text" class="form-control" id="success" name="id_client"/>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label" for="success">Saisir votre nom</label>
                        <input type="text" class="form-control" id="success" name="nom_client"/>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label" for="success">Saisir votre prenom</label>
                        <input type="text" class="form-control" id="success" name="prenom_client"/>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label" for="success">Saisir votre adresse mail</label>
                        <input type="email" class="form-control" id="success" name="email_client"/>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label" for="success">Resaisir votre adresse mail</label>
                        <input type="email" class="form-control" id="success" name="email_client2"/>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label" for="success">Saisir votre mot de passe</label>
                        <input type="password" class="form-control" id="success" name="pwd_client"/>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label" for="success">Resaisir votre mot de passe</label>
                        <input type="password" class="form-control" id="success" name="pwd_client2"/>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label" for="success">Saisir votre numéro</label>
                        <input type="number" class="form-control" id="success" name="tel_client"/>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label" for="success">Saisir votre catégorie préféré</label>
                        <input type="text" class="form-control" id="success" name="categorie_client"/>
                    </div>
                </form>

                    <input type="submit" name="ajouter" value="S'inscrire" style="margin-left:92%;border-radius:8px;background:#C36464;font:bold 18px Arial;">
                </form>

        </body>
        </html>